body{
    background-color: rgb(216, 250, 250);
}
span{
    color: orange;
}
/*p{
    color: blue;
}*/

.texto{
    font-size: 30px;
    color: red;
}

#parrafo{
    font-size: 60px;
    color: blue;
}
/*p.combinado{
    font-size: 95px;
}*/

p.caja{
    border: 3px solid red;
    /*margin: arriba derecha abajo izquierda*/
    margin: 30px 50px 10px 50px;
    /*margin: (arriba abajo) (izquierda derecha)*/
    /*margin: 30px 50px;*/
}
p.box{
    border: 3px dashed blue;
    margin: 0;
    padding: 50px;
}